<nav class="light-blue lighten-1" id="top-nav-bar" class="">
  <ul id="nav_mobile" class="right hide-on-med-and-down" data-hook>
    <li id="search-bar" data-hook>
      <%= render partial: 'spree/shared/search' %>
    </li>
  </ul>
</nav>
